<header class="header">

  <a href="#" class="header__logo-container"> 
    <div class="header__logo">
      <svg>
        <use href='#logoIcon'></use>
      </svg>
    </div>
    <div class="h4">Казанский гуманитарно-<br>технический колледж</div>
  </a>


  {{> menu}}

  <button class="menu-button">
    <span class="burger-button-close">
      <span id="first-line-burger"></span>
      <span id="second-line-burger"></span>
      <span id="third-line-burger"></span>
    </span>
  </button>
</header>