<div class="menu">
  <div class="h4">Казанский гуманитарно-<br>технический колледж</div>
  <a href="#" class="text-3 text-green">Департамент образования и науки</a>
  <ul class="menu-list">
    <li><a href="#" class="text-3 text-green">Лицензия: 16Л01 № 0003558 РЕГ. № 7601 от 10.12.2015</a></li>
    <li><a href="#" class="text-3 text-green">Аккредитация №005066 от 17.02.2023</a></li>
  </ul>
  <a href="#" class="eye-button">
    <svg>
      <use href='#eyeIcon'></use>
    </svg>
    Версия для слабовидящих
  </a>
  <a href="tel:+78432285269" class="header__link h4 text-black">+7(843)228-52-69</a>
  <ul class="menu-link-list">
    <li>
      <a href="#" class="link-button"><svg>
          <use href='#telegramIcon'></use>
        </svg></a>
    </li>
    <li>
      <a href="#" class="link-button"><svg>
          <use href='#vkIcon'></use>
        </svg></a>
    </li>
  </ul>
</div>