<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <!-- Preloader-->

    <div class="preloader" id="preloader">
        <div class="spin">
            <div class="lds-ring"><div></div><div></div><div></div><div class="logo"><svg><use href='#logoIcon'></use></svg></div></div>
        </div>
    </div>

    <div class="page">
        
        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- To Top Button-->
        <button class="to-top-button"><svg><use href='#arrowL'></use></svg></button>

        <!-- Footer -->
        {{> footer }}

    </div>

    <!-- JS -->
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        window.onload = function() { preloader.style.opacity = "0"; setTimeout(() => preloader.style.display = 'none', 300);}
    </script>
</body>

</html>